<% book_comments.each do |book_comment| %>
	<li id="comment-container">
		<div class='comment-box'>
			<div class="comment-avatar">
				<%= attachment_image_tag book_comment.user, :profile_image,:fill, 40, 40, fallback: 'no_image.jpg' %>
				<%= book_comment.content %>
					<% if book_comment.user == current_user %>
						<%= link_to "Destroy",book_path(@book,book_comment), method: :delete,  class: "btn-sm btn-danger destroy_book_#{@book.id}" %>

					<% end %>
			</div>
			<div class='comment-text'>
				<p><%= link_to "#{book_comment.user.name}",user_path(book_comment.user.id) %></p>
			</div>
		</div>
	</li>
<% end %> 